<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/layout}">
	<head>
	</head>
	<body>
		<section layout:fragment="criteria" class="ftco-section">
	      <div class="container">
	        <div class="row no-gutters ftco-services">
	          <div
	            class="col-md-3 text-center d-flex align-self-stretch ftco-animate"
	          >
	            <div class="media block-6 services mb-md-0 mb-4">
	              <div
	                class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2"
	              >
	                <span class="flaticon-shipped"></span>
	              </div>
	              <div class="media-body">
	                <h3 class="heading">Giao hàng miễn phí</h3>
						<span> với đơn hàng trên 100.000 đồng</span>
	              </div>
	            </div>
	          </div>
	          <div
	            class="col-md-3 text-center d-flex align-self-stretch ftco-animate"
	          >
	            <div class="media block-6 services mb-md-0 mb-4">
	              <div
	                class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2"
	              >
	                <span class="flaticon-diet"></span>
	              </div>
	              <div class="media-body">
	                <h3 class="heading">Luôn tươi mới</h3>
						<span> giá sản phẩm tốt </span>
	              </div>
	            </div>
	          </div>
	          <div
	            class="col-md-3 text-center d-flex align-self-stretch ftco-animate"
	          >
	            <div class="media block-6 services mb-md-0 mb-4">
	              <div
	                class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2"
	              >
	                <span class="flaticon-award"></span>
	              </div>
	              <div class="media-body">
	                <h3 class="heading">Chất lượng </h3>
						<span> Sản phẩm chất lượng </span>
	              </div>
	            </div>
	          </div>
	          <div
	            class="col-md-3 text-center d-flex align-self-stretch ftco-animate"
	          >
	            <div class="media block-6 services mb-md-0 mb-4">
	              <div
	                class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2"
	              >
	                <span class="flaticon-customer-service"></span>
	              </div>
	              <div class="media-body">
	               <h3 class = "header"> Hỗ trợ </h3>
						<span> Hỗ trợ 24/7 </span>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </section>
	</body>
</html>