<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/layout}">
	<head>
		<title>Trang chủ</title>
	</head>
	<body>
		<div layout:fragment="content">
			<section id="home-section" class="hero">
		      <div class="home-slider owl-carousel">
		        <div class="slider-item" style="background-image: url(images/bg_1.jpg)">
		          <div class="overlay"></div>
		          <div class="container">
		            <div
		              class="row slider-text justify-content-center align-items-center"
		              data-scrollax-parent="true"
		            >
		              <div class="col-md-12 ftco-animate text-center">
		                <h1 class="mb-2">Chúng tôi cung cấp rau củ &amp; Trái cây</h1>
		                <h2 class="subheading mb-4">
		                  We deliver organic vegetables &amp; fruits
		                </h2>
		                <p><a href="/about" class="btn btn-primary">Xem chi tiết</a></p>
		              </div>
		            </div>
		          </div>
		        </div>
		
		        <div class="slider-item" style="background-image: url(images/bg_2.jpg)">
		          <div class="overlay"></div>
		          <div class="container">
		            <div
		              class="row slider-text justify-content-center align-items-center"
		              data-scrollax-parent="true"
		            >
		              <div class="col-sm-12 ftco-animate text-center">
		                <h1 class="mb-2">100% thực phẩm sạch</h1>
		                <h2 class="subheading mb-4">
		                  We deliver organic vegetables &amp; fruits
		                </h2>
		                <p><a href="/about" class="btn btn-primary">Xem chi tiết</a></p>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </section>
		
		    <!-- Criteria -->
		    <section layout:replace="~{layout/criteria::criteria}"></section>
		
		    <section class="ftco-section ftco-category ftco-no-pt">
		      <div class="container">
		        <div class="row">
		          <div class="col-md-8">
		            <div class="row">
		              <div class="col-md-6 order-md-last align-items-stretch d-flex">
		                <div
		                  class="category-wrap-2 ftco-animate img align-self-stretch d-flex"
		                  style="background-image: url(images/category.jpg)"
		                >
		                  <div class="text text-center">
		                    <h2>Rau củ</h2>
		                    <p>Bảo vệ sức khoẻ người tiêu dùng</p>
		                    <p><a href="/shop" class="btn btn-primary">Mua sắm ngay</a></p>
		                  </div>
		                </div>
		              </div>
		              <div class="col-md-6">
		                <div
		                  class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
		                  style="background-image: url(images/category-1.jpg)"
		                >
		                  <div class="text px-3 py-1">
		                    <h2 class="mb-0"><a href="#">Trái cây</a></h2>
		                  </div>
		                </div>
		                <div
		                  class="category-wrap ftco-animate img d-flex align-items-end"
		                  style="background-image: url(images/category-2.jpg)"
		                >
		                  <div class="text px-3 py-1">
		                    <h2 class="mb-0"><a href="#">Rau củ</a></h2>
		                  </div>
		                </div>
		              </div>
		            </div>
		          </div>
		
		          <div class="col-md-4">
		            <div
		              class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
		              style="background-image: url(images/category-3.jpg)"
		            >
		              <div class="text px-3 py-1">
		                <h2 class="mb-0"><a href="#">Nước ép</a></h2>
		              </div>
		            </div>
		            <div
		              class="category-wrap ftco-animate img d-flex align-items-end"
		              style="background-image: url(images/category-4.jpg)"
		            >
		              <div class="text px-3 py-1">
		                <h2 class="mb-0"><a href="#">Hạt</a></h2>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </section>
		
		    <section
		      class="ftco-section img"
		      style="background-image: url(images/bg_3.jpg)"
		    >
		      <div class="container">
		        <div class="row justify-content-end">
		          <div
		            class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate"
		          >
		            <span class="subheading">Giá tốt nhất</span>
		            <h2 class="mb-4">Khuyến mãi trong ngày</h2>
		            <p>
		              Far far away, behind the word mountains, far from the countries
		              Vokalia and Consonantia
		            </p>
		            <h3><a href="#">Spinach</a></h3>
		            <span class="price">$10 <a href="#">now $5 only</a></span>
		            <div id="timer" class="d-flex mt-5">
		              <div class="time" id="days"></div>
		              <div class="time pl-3" id="hours"></div>
		              <div class="time pl-3" id="minutes"></div>
		              <div class="time pl-3" id="seconds"></div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </section>
		
		    <!-- Testimoni -->
		    <section layout:replace="~{layout/testimoni::testimoni}"></section>

		    <!-- Subcribe -->
		    <section layout:replace="~{layout/subcribe::subcribe}"></section>
		</div>
	</body>
</html>